# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
output
config.yaml
*.yaml
scenario/cross.out
scenario/netstate.xml


# Local development settings
.env
venv-marl/
*.env

# Logs and databases
*.log
*.sqlite3
